<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Cadastro de Matrícula"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text text="Endereço"></app-sub-text>
    </app-reorganizes-main>
    <app-reorganize-input>
     <app-inputs type="Number" value="CEP" placeholder="CEP" class=" w-[500px] text-[#F3F3F3]"></app-inputs>
        <app-inputs value="UF" placeholder="UF" class="h[30px] w-[80px]"></app-inputs>
    </app-reorganize-input>
 <app-reorganize-input>
     <app-select-long placeholder="Zoneamento"></app-select-long>
        <app-inputs placeholder="Município" class="h-[40px] w-[80px] text-gray"></app-inputs>
    </app-reorganize-input>
 <app-reorganize-input>
     <app-inputs placeholder="Logradouro"></app-inputs>
        <app-inputs placeholder="Número"></app-inputs>
    </app-reorganize-input>
 <app-reorganize-input>
     <app-inputs placeholder="Complemento"></app-inputs>
        <app-inputs placeholder="Bairro"></app-inputs>
    </app-reorganize-input>
 <app-btn-down text="Cadastrar" route="/teacher"></app-btn-down>
</app-list-div>

