<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Cadastro de Matrícula"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text text="Endereço"></app-sub-text>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-inputs type="Number" value="CEP" placeholder="CEP" className=" h-[40px] w-[320px] px-4"></app-inputs>
        <app-inputs placeholder="UF" className="h-[40px] w-[280px] px-4"></app-inputs>
    </app-reorganize-input>
    <app-reorganize-input>
        <select required placeholder="Zoneamento" class="h-[40px] w-[320px] text-12 px-4">
            <option disabled selected value="">Zoneamento</option>
            <option value="Urbano">Urbano</option>
            <option value="Rural">Rural</option>
            <option value="Industrial">Industrial</option>
          </select>
        <app-inputs placeholder="Município" className=" h-[40px] w-[280px] px-4"></app-inputs>
    </app-reorganize-input>
    <app-reorganize-input>
        <app-inputs placeholder="Logradouro" className=" h-[40px] w-[320px] px-4"></app-inputs>
        <app-inputs type="Number" value="Número" placeholder="Número" className=" h-[40px] w-[280px] px-4"></app-inputs>
    </app-reorganize-input>
    <app-reorganize-input>
        <app-inputs placeholder="Complemento" className=" h-[40px] w-[320px] px-4"></app-inputs>
        <app-inputs placeholder="Bairro" className=" h-[40px] w-[280px] px-4"></app-inputs>
    </app-reorganize-input>
    <app-btn-down text="Cadastrar" route="/teacher"></app-btn-down>
</app-list-div>