<app-list-div>
  <app-reorganizes-main>
    <app-titles text="Lista de Aulas"></app-titles>
  </app-reorganizes-main>
  <app-reorganize-div-card>
    <app-pesquisa></app-pesquisa>
    <button
      class="font-bold text-white mx-[260px] p-6 bg-[#FBB03B] flex justify-center items-center text-md font-[varela round] rounded-md h-3 hover:bg-opacity-70">
      Criar Aula
    </button>
  </app-reorganize-div-card>
  <div>
    <app-table [spacing]="'2'" [paddingCell]="'8'" [headers]="headers" [data]="data"></app-table>
  </div>
</app-list-div>
