<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lista de Aulas"></app-titles>
    </app-reorganizes-main>
    <app-reorganize-div-card>
        <app-pesquisa></app-pesquisa>
        <button
            class="font-bold text-white mx-[260px] p-6 bg-[#FBB03B] flex justify-center items-center text-md font-[varela round] rounded-md h-3 hover:bg-opacity-70">
            Criar Aula
        </button>
    </app-reorganize-div-card>
    <app-reorganizes-main>
        <div style="height: 300px; overflow-y: auto; width: 800px;">
            <table class="bg-[#FFFFFF] rounded" cellSpacing="2" cellPadding="8" style="width: 100%; text-align:left">
                <tr class="p-2">
                    <th class="text-[13px]">Nome da Aula</th>
                    <th class="text-[13px]">Data</th>
                    <th class="text-[13px]"></th>
                <tr>
                <tr>
                    <td class="text-[14px]">Introdução ao Curso</td>
                    <td class="text-[14px]">26/10/2024</td>
                    <td class="flex flex-row gap-4"><app-img-edit></app-img-edit><app-img-delete></app-img-delete></td>
                </tr>
            </table>
        </div>
    </app-reorganizes-main>
</app-list-div>