<app-main-div>
    <app-reorganizes-main>
        <app-titles text="CALENDARIO"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text
            text="Serviços como visualizar o calendário por mês e adicionar novo evento em respectivo dia estão disponíveis."></app-sub-text>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Visualização do calendario" route="/calendario">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
        <app-card label="Criar Evento no Calendário">
            <app-img-add-circle></app-img-add-circle>
        </app-card>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-titles text="ESTUDANTES"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text
            text="Serviços como cadastramento de novos estudantes, assim como visualização e lançamento de notas e faltas estão disponíveis."></app-sub-text>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Cadastrar Matrícula">
            <app-img-add-circle></app-img-add-circle>
        </app-card>
        <app-card label="Lista de Estudantes">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
        <app-card label="Lançar Notas">
            <app-img-note-add></app-img-note-add>
        </app-card>
        <app-card label="Lançar Faltas">
            <app-img-note-add></app-img-note-add>
        </app-card>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-titles text="AULAS"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text
            text="Serviços como postar aula, assim como visualização de aulas e frequências estão disponíveis."></app-sub-text>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Criar Nova Aula">
            <app-img-add-circle></app-img-add-circle>
        </app-card>
        <app-card label="Lista de Aulas">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
        <app-card label="Lista de Frequência">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
    </app-reorganizes-main>
</app-main-div>