<div class="bg-[#F3F3F3] flex h-screen">
    <app-reorganizes-main  class="grid-container">
        <app-titles text="CALENDARIO"></app-titles>
        <app-nav-link label="Serviços como visualizar o calendário por mês e adicionar novo evento em respectivo dia estão disponíveis."></app-nav-link>
        <app-card label="Criar Evento no Calendário" >
            <app-img-add-circle></app-img-add-circle>
        </app-card>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Visualização do calendario">
            <app-img-note-add></app-img-note-add>
        </app-card>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Visualização do calendario">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-card label="Visualização do calendario">
            <p>tex</p>
        </app-card>
    </app-reorganizes-main>
</div>