<div class="bg-[#F3F3F3] flex h-screen">
    <app-reorganizes-div>
        <app-card label="Visualização do calendario" class="p-32">
            <app-img-add-circle></app-img-add-circle>
        </app-card>
    </app-reorganizes-div>
    <app-reorganizes-div>
        <app-card label="Visualização do calendario">
            <app-img-note-add></app-img-note-add>
        </app-card>
    </app-reorganizes-div>
    <app-reorganizes-div>
        <app-card label="Visualização do calendario">
            <app-img-page-preview></app-img-page-preview>
        </app-card>
    </app-reorganizes-div>
    <app-reorganizes-div>
        <app-card label="Visualização do calendario">
            <p>tex</p>
        </app-card>
    </app-reorganizes-div>
</div>