<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lista de Estudantes"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-pesquisa></app-pesquisa>
    </app-reorganizes-main>
    <app-reorganizes-main>
    <table class="bg-[#FFFFFF] rounded" cellSpacing="2" cellpadding="8" style="width: 800px; text-align:left">
        <tr class="p-2">
            <th class="text-[13px]">Registro Acadêmico</th>
            <th class="text-[13px]">Nome Completo</th>
            <th class="text-[13px]">Email</th>
            <th class="text-[13px]">Data Cadastro</th>
            <th class="text-[13px]">Situação</th>
            <th class="text-[13px]"></th>
        <tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana Tessarini</td>
                <td class="text-[14px]">mariana&#64;email</td>
                <td class="text-[14px]">26/10/2024</td>
                <td class="text-[14px]">Matriculado</td>
                <td class="flex flex-row gap-4"><app-img-edit></app-img-edit><app-img-delete></app-img-delete></td>
            </tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana</td>
                <td class="text-[14px]">mariana&#64;email</td>
                <td class="text-[14px]">26/10/2024</td>
                <td class="text-[14px]">Matriculado</td>
                <td class="flex flex-row gap-4"><app-img-edit></app-img-edit><app-img-delete></app-img-delete></td>
            </tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana</td>
                <td class="text-[14px]">mariana&#64;email</td>
                <td class="text-[14px]">26/10/2024</td>
                <td class="text-[14px]">Matriculado</td>
                <td class="flex flex-row gap-4"><app-img-edit></app-img-edit><app-img-delete></app-img-delete></td>
            </tr>
    </table>
</app-reorganizes-main>
</app-list-div>