<app-main-div>
    <img src="./assets/logo_abaco.png" alt="Logo Abaco" class="sm:h-12 md:h-16">
    <div class="bg-[#FBB03B] flex flex-col gap-8 p-16 rounded-xl items-center w-full max-w-md sm:h-2/6 lg:h-1/2">
        <div class="flex flex-col gap-8 ">
            <app-inputs type="Email" placeholder="Entre com seu registro"></app-inputs>
            <app-inputs type="Password" placeholder="Digite sua Senha"></app-inputs>
            <a href="" class="underline text-sm sm:text-base font-varela-round">Esqueci minha senha</a>
        </div>
        <button
            class="font-bold p-6 bg-[#FFE2B4] w-full md:w-2/4 lg:w-4/6 rounded-xl flex justify-center items-center text-md font-varela-round-md h-4">
            Entrar
            <img src="https://img.icons8.com/parakeet-line/enter-2.png" alt="Entrar ícone" class="h-8 w-8 m-4" />
        </button>

    </div>
</app-main-div>
