<button (click)="showModal()" class="bg-[#FBB03B] rounded font-[varela round] text-white text-lg w-[150px] h-[40px]
        flex justify-center items-center hover:bg-opacity-70">
  <span>Criar Evento</span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Criar Evento" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <div class="flex flex-col gap-y-2 ">
      <label class="font-bold text-xs">Nome do Evento</label>
      <app-inputs className="w-full border rounded-md h-[33px]" type="text"/>
      <label class="font-bold text-xs">Data</label>
      <app-inputs className="w-full border h-[53px]" type="Date"/>
      <label class="font-bold text-xs">Descrição do Evento</label>
      <app-inputs className="w-full border h-[63px]" type="text"/>
      <label class="font-bold text-xs">Convidados</label>
      <app-inputs className="w-full border h-[33px]" type="text"/>
      <label class="font-bold text-xs">Localização</label>
      <app-inputs className="w-full border h-[33px]" type="text"/>
    </div>
  </ng-container>
</nz-modal>