<app-reorganizes-div>
    <app-main-div>
        <app-img-abaco></app-img-abaco>
        <app-reorganizes-div>
            <app-titles text="CALENDARIO"></app-titles>
            <app-nav-link label="Visualização" route="/test"></app-nav-link>
            <app-nav-link label="Inserir Eventos" route="/test"></app-nav-link>
        </app-reorganizes-div>
        <app-reorganizes-div>
            <app-titles text="ESTUDANTES"></app-titles>
            <app-nav-link label="Cadastrar Matrículas" route="/test"></app-nav-link>
            <app-nav-link label="Lançar Notas" route="/test"></app-nav-link>
            <app-nav-link label="Lançar Faltas" route="/test"></app-nav-link>
            <app-nav-link label="Lista de Estudantes" route="/test"></app-nav-link>
        </app-reorganizes-div>
        <app-reorganizes-div class="w-full sm:w-auto sm:px-10 md:px-16 place-self-start">
            <app-titles text="AULAS"></app-titles>
            <app-nav-link label="Postar Aulas" route="/test"></app-nav-link>
            <app-nav-link label="Lista de Aulas" route="/test"></app-nav-link>
        </app-reorganizes-div>
        <app-main-btn text="Usuário"></app-main-btn>
    </app-main-div>
</app-reorganizes-div>  