<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lista de Frequência"></app-titles>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-pesquisa></app-pesquisa>
        <select required placeholder="Curso" class=" rounded h-[40px] w-[300px] text-12 px-2">
            <option disabled selected value="">Selecione o Curso</option>
        </select>
    </app-reorganize-input>
    <app-reorganizes-main>
        <div style="height: 300px; overflow-y: auto; width: 850px;">
            <app-table [spacing]="'2'" [paddingCell]="'8'" [headers]="headers" [data]="data"
                [content]="[imgEditTemplate]">
            </app-table>
        </div>
    </app-reorganizes-main>
    <ng-template #imgEditTemplate>
        <div class="flex items-center space-x-2">
            <app-img-view />
        </div>
    </ng-template>
</app-list-div>