<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lista de Frequência"></app-titles>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-pesquisa></app-pesquisa>
        <app-select-short  type="Curso" placeholder="Selecione o Curso"></app-select-short >
    </app-reorganize-input>
    <app-reorganizes-main>
        <div style="height: 300px; overflow-y: auto; width: 800px;">
            <app-table>
                <app-tablerow>
                   <app-table-header title="Registro academico"/>
                    <app-table-header title="Nome Completo"/>
                    <app-table-header title="Faltas Totais"/>
                    <app-table-header title="Situação"/>
                </app-tablerow>
                <app-tablerow>
                    <app-table-cell content="23001518"/>
                    <app-table-cell content="Mariana"/>
                    <app-table-cell content="0"/>
                    <app-table-cell content="Matriculado"/>
                    <app-table-cell><app-img-view></app-img-view></app-table-cell>
                </app-tablerow>
                <app-tablerow>
                    <app-table-cell content="23001518"/>
                    <app-table-cell content="Mariana"/>
                    <app-table-cell content="3"/>
                    <app-table-cell content="Matriculado"/>
                    <app-table-cell><app-img-view></app-img-view></app-table-cell>
                </app-tablerow>
            </app-table>
        </div>
    </app-reorganizes-main>
</app-list-div>