<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lista de Frequência"></app-titles>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-pesquisa></app-pesquisa>
        <app-selecionar type="Curso" placeholder="Selecione o Curso"></app-selecionar>
    </app-reorganize-input>
    <app-reorganizes-main>
    <table class="bg-[#FFFFFF] rounded" cellSpacing="2" cellpadding="8" style="width: 800px; text-align:left">
        <tr class="p-2">
            <th class="text-[13px]">Registro Acadêmico</th>
            <th class="text-[13px]">Nome Completo</th>
            <th class="text-[13px]">Faltas Totais</th>
            <th class="text-[13px]">Situação</th>
            <th class="text-[13px]"></th>
        <tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana Tessarini</td>
                <td class="text-[14px]">0</td>
                <td class="text-[14px]">Matriculado</td>
                <td><app-img-view></app-img-view></td>
            </tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana</td>
                <td class="text-[14px]">3</td>
                <td class="text-[14px]">Matriculado</td>
                <td><app-img-view></app-img-view></td>
            </tr>
    </table>
</app-reorganizes-main>
</app-list-div>