<div class="flex flex-col grid-col-1 gap-4">
  <app-titles text="CALENDARIO"></app-titles>

  <app-sub-text
    text="Serviços como visualizar o calendário por mês e adicionar novo evento em respectivo dia estão disponíveis."
  />

  <app-reorganize-div-card>
    <app-card label="Visualização do calendario" route="/calendario">
      <app-img-page-preview></app-img-page-preview>
    </app-card>
    <app-card label="Criar Evento no Calendário" route="/calendario">
      <app-img-add-circle></app-img-add-circle>
    </app-card>
  </app-reorganize-div-card>

  <app-titles text="ESTUDANTES"></app-titles>

  <app-sub-text
    text="Serviços como cadastramento de novos estudantes, assim como visualização e lançamento de notas e faltas estão disponíveis."
  ></app-sub-text>

  <app-reorganize-div-card>
    <app-card label="Cadastrar Matrícula" route="/cadastroestudante">
      <app-img-add-circle></app-img-add-circle>
    </app-card>
    <app-card label="Lista de Estudantes" route="/listestudante">
      <app-img-page-preview></app-img-page-preview>
    </app-card>
    <app-card label="Lançar Notas" route="/lancarnotas">
      <app-img-note-add></app-img-note-add>
    </app-card>
    <app-card label="Lançar Faltas" route="/lancarfaltas">
      <app-img-note-add></app-img-note-add>
    </app-card>
  </app-reorganize-div-card>

  <app-titles text="AULAS"></app-titles>

  <app-sub-text
    text="Serviços como postar aula, assim como visualização de aulas e frequências estão disponíveis."
  ></app-sub-text>

  <app-reorganize-div-card>
    <app-card label="Criar Nova Aula">
      <app-img-add-circle></app-img-add-circle>
    </app-card>
    <app-card label="Lista de Aulas" route="/listaulas">
      <app-img-page-preview></app-img-page-preview>
    </app-card>
    <app-card label="Lista de Frequência" route="/listfrequencia">
      <app-img-page-preview></app-img-page-preview>
    </app-card>
  </app-reorganize-div-card>
</div>
