<app-list-div>
  <app-reorganizes-main>
    <app-titles text="Lançamento de Notas"></app-titles>
  </app-reorganizes-main>

  <form class="grid gap-4 w-full">
    <app-grid>
      <select
        required
        placeholder="Curso"
        class="text-12 p-3 flex-1 w-full"
        [(ngModel)]="formData.curso_id"
        name="curso_id"
        (change)="loadGrades()"
      >
        <option disabled selected value="">Selecione o Curso</option>

        <ng-container *ngFor="let item of courses">
          <option [value]="item.id">{{ item.nome }}</option>
        </ng-container>
      </select>
      <app-inputs className="text-12 p-3 flex-1 w-full" type="date" [(ngModel)]="formData.aula" name="aula" required />
    </app-grid>

    <app-grid>
      <app-inputs
        type="string"
        placeholder="Descrição"
        className="text-12 p-3 flex-1 w-full"
        [(ngModel)]="formData.descricao"
        name="descricao"
        required
      />
    </app-grid>
  </form>
  <div style="height: 300px; overflow-y: auto" class="w-full">
    <app-table
      [spacing]="'2'"
      [paddingCell]="'8'"
      [headers]="fetchHeaderByBreakpoint()"
      [data]="data"
      [content]="[imgEditTemplate]"
    >
    </app-table>
  </div>

  <ng-template #imgEditTemplate>
    <div class="flex items-center space-x-2">
      <app-img-edit></app-img-edit>
    </div>
  </ng-template>
  <app-reorganize-input>
    <app-btn-down text="Salvar" route="/teacher"></app-btn-down>
  </app-reorganize-input>
</app-list-div>
