<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Lançamento de Notas"></app-titles>
    </app-reorganizes-main>
    <app-reorganize-input>
        <select required placeholder="Curso" class=" rounded h-[40px] w-[300px] text-12 px-2">
            <option disabled selected value="">Selecione o Curso</option>
        </select>
        <select required placeholder="Módulo" class=" rounded h-[40px] w-[300px] text-12 px-2">
            <option disabled selected value="">Selecione o Módulo</option>
        </select>
    </app-reorganize-input>
    <app-reorganizes-main>
        <app-reorganize-input>
            <app-inputs className="rounded h-[40px] w-[300px] text-12 px-2" type="Date" />
            <app-inputs type="string" placeholder="Descrição" className="h-[40px] w-[300px] text-12 px-4" />
        </app-reorganize-input>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <div style="height: 300px; overflow-y: auto; width: 800px;">
            <table class="bg-[#FFFFFF] rounded" cellSpacing="2" cellPadding="8" style="width: 100%; text-align:left">
                <tr class="p-2">
                    <th class="text-[13px]">Registro Acadêmico</th>
                    <th class="text-[13px]">Nome Completo</th>
                    <th class="text-[13px]">Notas</th>
                    <th class="text-[13px]">Situação</th>
                    <th class="text-[13px]"></th>
                <tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana Tessarini</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
                <tr>
                    <td class="text-[14px]">23001518</td>
                    <td class="text-[14px]">Mariana</td>
                    <td class="text-[14px]"><input visible type=number step="0.1"
                            style="border: 1px solid #000; border-radius: 5px; padding: 4px; width: 80px;"></td>
                    <td class="text-[14px]">Matriculado</td>
                    <td class="text-[14px]"><app-img-edit></app-img-edit></td>
                </tr>
            </table>
        </div>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-btn-down text="Salvar" route="/teacher"></app-btn-down>
    </app-reorganize-input>
</app-list-div>