<app-list-div>
    <app-reorganizes-main>
        <app-titles text="Cadastro de Matrícula"></app-titles>
    </app-reorganizes-main>
    <app-reorganizes-main>
        <app-sub-text text="Dados Pessoais"></app-sub-text>
    </app-reorganizes-main>
    <app-reorganize-input>
        <app-input-long value="Name" placeholder="Nome Completo"></app-input-long>
        <app-select-short placeholder="Gênero"></app-select-short>
    </app-reorganize-input>
    <app-reorganize-input>
        <app-input-long value="RG" placeholder="RG"></app-input-long>
        <app-input-short value="CPF" placeholder="CPF"></app-input-short>
    </app-reorganize-input>
    <app-reorganize-input>
        <app-select-long placeholder="Nível de Escolaridade"></app-select-long>
        <app-input-short placeholder="Data de Nascimento"></app-input-short>
    </app-reorganize-input>
    <app-reorganize-input>
        <app-input-long placeholder="Email"></app-input-long>
        <app-input-short placeholder="Telefone"></app-input-short>
    </app-reorganize-input>
    <app-btn-down text="Continuar" route="/cadastroendereco"></app-btn-down>
</app-list-div>

