<app-list-div>
  <app-titles text="Cadastro de Matrícula" />
  <app-sub-text text="{{ getStateProps() }}" />

  <div *ngIf="firstState()" class="grid grid-cols-2 gap-x-4 gap-y-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <app-inputs class="w-full" placeholder="Nome Completo" className="text-12 p-3 flex-1 w-full" />
    <select required class="text-12 p-3 flex-1">
      <option disabled selected value="">Selecione seu Gênero</option>
      <option value="Feminino">Feminino</option>
      <option value="Masculino">Masculino</option>
      <option value="Outro">Outro</option>
    </select>

    <app-inputs type="Number" value="RG" placeholder="RG" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs type="Number" value="CPF" placeholder="CPF" className="text-12 p-3 flex-1 w-full"></app-inputs>

    <select required placeholder="Nível de Escolaridade" class="text-12 p-3 flex-1">
      <option disabled selected value="">Nível de Escolaridade</option>
      <option value="Fundamental">Fundamental Completo</option>
      <option value="Médio">Médio Completo</option>
      <option value="Superior">Superior Completo</option>
    </select>
    <app-inputs placeholder="Data de Nascimento" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs type="Email" placeholder="Email" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs type="Number" placeholder="Telefone" className="text-12 p-3 flex-1 w-full"></app-inputs>
  </div>

  <app-grid *ngIf="secondState()">
    <app-inputs type="Number" value="CEP" placeholder="CEP" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs placeholder="UF" className="text-12 p-3 flex-1 w-full"></app-inputs>

    <select required placeholder="Zoneamento" class="flex-1 text-12 px-4">
      <option disabled selected value="">Zoneamento</option>
      <option value="Urbano">Urbano</option>
      <option value="Rural">Rural</option>
      <option value="Industrial">Industrial</option>
    </select>
    <app-inputs placeholder="Município" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs placeholder="Logradouro" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs type="Number" value="Número" placeholder="Número" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs placeholder="Complemento" className="text-12 p-3 flex-1 w-full"></app-inputs>
    <app-inputs placeholder="Bairro" className="text-12 p-3 flex-1 w-full"></app-inputs>
  </app-grid>

  <app-reorganize-input>
    <app-button text="Continuar" (click)="handleNextState()"></app-button>
  </app-reorganize-input>
</app-list-div>