<app-main-div>
    <app-reorganizes-main>
        <app-pesquisa></app-pesquisa>
    </app-reorganizes-main>
    <app-reorganizes-main>
<app-list-bg>
    <table cellpadding="8" style="width: 100%; text-align:center">
        <tr>
            <th class="text-[13px]">Registro Acadêmico</th>
            <th class="text-[13px]">Nome Completo</th>
            <th class="text-[13px]">Email</th>
            <th class="text-[13px]">Data Cadastro</th>
            <th class="text-[13px]">Situação</th>
            <th class="text-[13px]"></th>
        <tr>
            <tr>
                <td class="text-[14px]">23001518</td>
                <td class="text-[14px]">Mariana</td>
                <td class="text-[14px]">mariana&#64;email</td>
                <td class="text-[14px]">26/10/2024</td>
                <td class="text-[14px]">Matriculado</td>
                <td><app-img-edit></app-img-edit></td>
                <td><app-img-delete></app-img-delete></td>
            </tr>
    </table>
</app-list-bg>
</app-reorganizes-main>
</app-main-div>