<app-list-div>
    <app-reorganizes-main>
        <div class="flex flex-col items-start justify-center w-full gap-y-10">
            <app-titles text="Visualização do Calendário"></app-titles>
            <app-btn-down
                class="bg-[#FBB03B] font-bold text-white rounded font-[varela round] px-4 py-2 flex justify-center items-center hover:bg-opacity-70">Criar
                Evento</app-btn-down>
            <nz-calendar [(ngModel)]="date" [(nzMode)]="mode" (nzPanelChange)="panelChange($event)"
                class="w-full"></nz-calendar>
        </div>
    </app-reorganizes-main>
</app-list-div>